html,body{
	height: 100%;
}
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
.clearfix::after{
 clear: both;
 content: "";
 display: table;
 
}
a{
	color: inherit;
	text-decoration: none;
}
li{
	list-style: none;
}
ul li:last-child{
	margin-bottom: 0;
}
img{
	display: block;
	width: 100%;
	height: auto;
}
button,
label{
	cursor: pointer;
}
input,
button,
textarea{
	background: none;
	border: none;
	outline: none;
	display: block;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}
input[type="radio"],
input[type="checkbox"]{
	display: none;
}
input::placeholder {
	color: inherit;
}
button{
	cursor: pointer;
}
input, 
textarea{
	display: block;
	resize: none;
}
body{
	font-size: 16px;
	line-height: 24px;
	color: #414536;
	width: 100%;
	font-family: 'DM Sans' arial, sans-serif;
}
.container{
	max-width: 1326px;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 15px;
}
.dn{
	display: none;
}
.grey{
	background: #f9f9f7;
}
section{
	padding: 120px 0;
}
.pag_tit{
	color: #2C2F24;
	text-align: center;
	font-family: 'Playfair Display', Arial, sans-serif;
	font-size: 100px;
	font-weight: 400;
	line-height: 96px; 
}
/* .sec_tit{
color:  #2C2F24;
text-align: center;
font-family: Playfair Display, arial, sans-serif;
font-size: 55px;
font-weight: 500;
line-height: 60px; 
} */
.color{
	color:#AD343E;
}
.dib{
	display: inline-block;
}
.hover{
	transition: 0.3s;
}
.hover:hover{
	color: #AD343E;
}
.btn{
color:  #182226;
text-align: right;
font-weight: 700;
transition: 0.3s;
padding: 12px 24px;
border-radius: 118px;
border: 2px solid  #2C2F24;
width: auto;
align-self: flex-start;
}
.btn_bd-grey{
	border-color: #DBDFD0;
}
.btn:hover,
.btn_red{
	background:#AD343E;
	color: #fff;
	border-color:#AD343E ;
}
.btn_red:hover{
	background: #fff;
	border-color:#2c2f24 ;
	color: #182226;
}
.link{
	transition: 0.3s;
}
.link:hover{
	color: #AD343E;
}
.flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.flex li {
	padding-right: 40px;
}
.head_in{
	margin-top: 35px;
}
 .menu{
	margin:auto ; 
	cursor: pointer;
}
.menu li:hover{
    border-radius: 34px;
    background: #DBDFD0;
	transition: 0.2s;
}
/* .title_food {
	background-image:  url(../img/bg.jpg);
    width: 100%;
    height: 1500px;
	background-repeat: no-repeat;
	padding-top: 20px;
} */
.title{
	background-image:  url(../img/bg.jpg);
	background-size: cover;	

}
.sec_tit{
width: 667px;
color:  #2C2F24;
text-align: center;
font-size: 100px;
font-weight: 400;
line-height: 96px; 
 margin:100px 312px; 
 margin-bottom: 2px;
}
.sec_desc{
width: 537px;
height: 64px;
margin:32px 400px 40px;
text-align: center;
color:  #2C2F24;
font-family: DM Sans;
font-size: 20px;
font-weight: 400;
line-height: 32px;
}
.button{
display: flex;
justify-content: center;
gap: 16px;
}
.btns{
padding: 20px 32px;
color:  #182226;
font-weight: 700;
transition: 0.3s;
padding: 12px 24px;
border-radius: 118px;
border: 2px solid  #2C2F24;
width: 170px;
height: 64px;
}
.btns:hover,
.btn_red{
background:#AD343E;
color: #fff;
border-color:#AD343E ;
}
.btn_red:hover{
background: #fff;
border-color:#2c2f24 ;
color: #182226;
}
.provide_left{
width: calc(50% - 45px);
position: relative;
padding-bottom: 30px;
}
.provide_img {
	width: 570px;
	border-radius: 12px;
	overflow: hidden;
}
.provide_info{
border-radius: 12px;
background: #474747;
padding: 50px;
position: absolute;
right: 0;
bottom: 0;
max-width: 411px;
}
.provide_info-tit{
color:  #FFF;
font-family: "DM Sans";
font-size: 24px;
font-weight: 700;
line-height: 30px; 
letter-spacing: -0.72px;
margin-bottom: 45px;
}
.provide_info-list a{
color: #F9F9F7;
font-family: "DM Sans";
font-size: 16px;
line-height: 24px;
margin-bottom: 25px;
display: inline-block;
padding-left: 44px;
position: relative;
}
.provide_info-list a::before{
	content:'';
	position: absolute;
	left: 0;
	top: 0;
	width: 24px;
	height: 24px;
	background: url(../img/icons/phon.svg) center no-repeat;
}
.provide_info-list .provide_mail::before{
background-image: url(../img/icons/mail.svg) ;
}
.provide_info-list .provide_location::before{
	background-image: url(../img/icons/location.svg) ;
}

.provide_right{
	width: calc(50% - 45px);
	align-self: center;
}
.provide .sec_titl{
color:#2C2F24;
font-family: "Playfair Display";
font-size: 55px;
font-weight: 500;
line-height: 60px;
margin-bottom: 24px;
}

.provide_txt{
color:#2C2F24;
font-family: "DM Sans";
font-size: 18px;
font-weight: 500;
line-height: 28px; 
margin-bottom: 24px;
}
.provide_txt-sm{
color: #414536;
font-family: "DM Sans";
font-size: 16px;
font-weight: 400;
line-height: 24px; 
margin-bottom: 40px;
}
/* 		
section food */
.food_left {
	width: calc(100% - 551px);
}
.food_img-sm{
	width: 290px;
	padding-top: 30px;
}
.food_img-big{
	width: calc(100% - 314px);
}
.food_img{
	margin-bottom: 24px;
}

.food_right{
	width: 461px;
	align-self: center;
}
.food .sec_title {
width: 461px;
margin-bottom: 20px;
color: #2C2F24;
font-family: "Playfair Display";
font-size: 55px;
font-weight: 500;
line-height: 60.5px;
}
.food_txt{
color:  #414536;
font-family: "DM Sans";
font-size: 16px;
line-height: 24px;
margin-bottom: 50px;
}
.food_list li{
color: #2C2F24;
font-family: "DM Sans";
font-size: 20px;
font-weight: 500;
line-height: 26px; 
position: relative;
margin-bottom: 20px;
padding-left: 50px;
}
.food_list li::before{
content: '';
width: 30px;
height: 30px;
border-radius: 50%;
background: #AD343E url(../img/icons/clock.svg) center no-repeat;
display: block;
position: absolute;
top: 0;
left:0;
}
.food_list li:nth-child(2)::before{
background-image:url(../img/icons/tax.svg);
}
.food_list li:last-child::before{
	background-image:url(../img/icons/cart.svg);
	}




/* section What Our Customers Say */
.custom{
	margin: 98px 400px 64px;
	width: 626px;
	height: 61px;
    text-align: center;
	color:  #2C2F24;
    font-family: Playfair Display;
    font-size: 55px;
    font-weight: 500;
    line-height: 60.5px; 
}
.red_text{
margin-top: 45px;
color: #AD343E;
font-family: DM Sans;
font-size: 24px;
font-weight: 700;
line-height: 30px;
letter-spacing: -0.72px;
}
.cuctom_text{
width: 346px;
height: 140px;
margin-top: 24px;
color: #414536;
font-family: DM Sans;
font-size: 18px;
font-weight: 400;
line-height: 28px; 
}
.title_bg{
margin-left: 24px;
padding-bottom:  64px;
border-radius: 12px;
background: #F9F9F7;
width: 416px;
height: 408px;
flex-shrink: 0;
}
.title_text{
	margin: 45px 35px;
}
.pic{
	width: 70px;
	height: 70px;
}
.border{
	align-items: center;
	border: 1px solid;
	width: 346px;
	opacity: 0.7;
    background: #DBDFD0;
	color: #DBDFD0; 
    margin: 32px 35px;
}
.title_pic{
margin-left: 35px;
 display: flex;
}
.name{
color:#2C2F24;
font-family: DM Sans;
font-size: 16px;
font-weight: 700;
line-height: 24px; 
}
.use{
color: #414536;
font-family: DM Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px; 
}
.title_name{
margin-top: 11px;
margin-left:20px;
width: 121px;
height:24px ;
}
.customers{
	display: flex;
}
/* browse */
.flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.browse_title{
color:  #2C2F24;
text-align: center;
font-family: Playfair Display;
font-size: 55px;;
font-weight: 500;
line-height: 60px;
}

.browse_card{
margin-top: 64px;
width: 306px;
height: 375px;
flex-shrink: 0;
border-radius: 12px;
border: 2px solid ;
background:#fff;
padding: 40px 34px 32px;
width:calc((100% -72px) /4) ;

}
.browse_ic1{
	width: 100px;
	height: 100px;
	display: block;
	border-radius: 50%;
	margin: auto 30px;
	background: #f3f3f7 url(../img/icons/browse-1.svg) center no-repeat; 
}
.browse_ic2{
	width: 100px;
	height: 100px;
	display: block;
	border-radius: 50%;
	margin: auto 30px;
	background: #f3f3f7 url(../img/icons/browse-2.svg) center no-repeat; 
}
.browse_ic3{
	width: 100px;
	height: 100px;
	display: block;
	border-radius: 50%;
	margin: auto 30px;
	background: #f3f3f7 url(../img/icons/browse-3.svg) center no-repeat; 
}
.browse_ic4{
	width: 100px;
	height: 100px;
	display: block;
	border-radius: 50%;
	margin: auto 30px;
	background: #f3f3f7 url(../img/icons/browse-4.svg) center no-repeat; 
}
.browse_tit{
color:  #2C2F24;
text-align: center;
font-size: 24px;
font-weight: 700;
line-height: 30px;
margin-top: 30px;
margin-bottom: 15px;
letter-spacing: -0.72px;
}
.browse_text{
color: #414536;
text-align: center;;
font-size: 16px;
line-height: 24px;
margin-bottom: 31px; 
}
.browse__link{
color: #AD343E;
text-align: center;
font-size: 16px;
font-weight: 700;
line-height: 24px; 
width: 106px;
display: block;
margin: 0 auto ;
}
/* section events */
.tit_events{
width: 675px;
color: #2C2F24;
font-family: Playfair Display;
font-size: 55px;
font-weight: 500;
line-height: 60px;
}
.events_img{
width: 306px;
height: 320px;
border-radius: 12px;
}
.events_title{
    width: 107px;
	margin-top: 30px;
	color: #2C2F24;
	text-align: center;
	font-family: DM Sans;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px; 
	letter-spacing: -0.72px;
}
.events_text{
margin-top: 15px;
width: 280px;
color: var(--Neutral-06, #414536);
font-family: DM Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px; 
}
.events_serv{
	margin-top: 64px;
}

.block_top{
margin-bottom: 65px;
}
.sec_block{
width: 485px;
color:#2C2F24;
font-family: "Playfair Display";
font-size: 55px;
font-weight: 500;
line-height: 60px; 
}
.block_left{
 width: calc(50% - 12px);
}
.block_right{
 width: calc(50% - 12px);
}
.block_card{
  width: calc(50% - 12px);
  background: #fff;
  border-radius: 12px;
  margin-bottom: 24px;
}
.block_card_big{
	width: 100%;
}
.block_img{
border-radius: 12px 12px 0px 0px;
overflow: hidden;
margin-bottom: 30px;
}
.block_card_big .block_img{
margin-bottom:45px ;
}
.block_date{
color:  #737865;
font-family: "DM Sans";
font-size: 16px;
font-weight: 500;
line-height: 24px;
margin-bottom:15px ;
padding-left: 35px;
}
.block_tit{
color:  #2C2F24;
font-family: "DM Sans";
font-size: 20px;
font-weight: 500;
line-height: 26px; 
margin-bottom:15px ;
padding-left: 35px;
}
.bloc_txt{
color:#414536;
font-family: "DM Sans";
font-size: 16px;
font-weight: 400;
line-height: 24px;
margin-bottom:15px ;
padding-left: 35px;
}
/* .footer {
background:  #474747;
height: 778px;
}
.footer_tit{
color: #FFF;
font-family: "DM Sans";
font-size: 16px;
font-weight: 700;
line-height: 24px;
}
.footer_logo {
	display: flex;
	width: 183px;
	height: 39px;
}
.footer_in{
display: flex;
justify-content: space-between;	
}
.footer_txt{
color: #ADB29E;
font-family: "DM Sans";
font-size: 16px;
font-weight: 400;
line-height: 24px; 
width: 293px;
margin-top: 30px;
}
.footer_list {
margin-top: 40px;
color: #DBDFD0;
font-family: "DM Sans";
font-size: 16px;
font-weight: 400;
line-height: 24px; 
}
.footer_list li {
	margin-top: 20px;
}

.footer_info{
	width: 293px; 
	height: 222px;
}
.footer_icons{
margin:30px 12px;
width: 173px;
margin-left: 2px;
}
.footer_ic {
}
.footer_copy{
	margin-top:200px;
	text-align: center;
	color:  #ADB29E;
	font-family: "DM Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px; 
}
.footer_img-wrap{
    width: 244px;
	height: 170px;
	margin-top: 40px;
	width: calc(700px - 300px);
}
.footer_img-wrap img{
border-radius: 12px;
padding-bottom:  6px;
}
.footer_in{

} */


footer{
	padding: 120px;
	background: #474747;
}
.footer_copy{
	color: #ADB29E;
	font-family: "DM Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
}
.footer_info{
width: 293px;
}
.footer_logo{
	display: block;
	margin-bottom: 30px;
	width: 230px;
}
.footer_txt{
	margin-bottom: 30px;
	color: #ADB29E;
	font-family: "DM Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px; 
}
.footer_icons{
	justify-content: flex-start;
}
.footer_ic{
	margin-right: 12px;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: #AD343E url(../img/icons/twitter.svg) center no-repeat;
}
.footer_ic_fb{
	background-image: url(../img/icons/fb.svg);
}
.footer_ic_ins{
	background-image: url(../img/icons/ins.svg)
} 
.footer_ic:hover{
	transform: rotate(360deg);
}
.footer_menu{
	width: 149px;
}
.footer_tit{
	margin-bottom: 40px;
	color:  #FFF;
	font-family: "DM Sans";
	font-size: 16px;
	font-weight: 700;
	line-height: 24px; 	
}
.footer_list li{
margin-bottom: 20px;
 color: #DBDFD0;
font-family: "DM Sans";
font-size: 16px;
font-weight: 400;
line-height: 24px; 
}
.footer_imgs{
	max-width: 403px;
}
.footer_img{
	margin-bottom: 15px;
	border-radius: 12px;
	overflow: hidden;
	position: relative;
}
.footer_img img{
	transition: 0.3s;
}
.footer_img:hover img{
	transform: scale(1.1);
}
.footer_img::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
	opacity: 0;
	z-index: 10;
	transition: 0.3s;
}
  .footer_img:hover::before{
	opacity: 0.5;
}  
.footer_in{
	margin-bottom: 130px;
}


 .feel_play{
	display: block;
	padding: 215px 0;
	background: url(../img/feel_bg.jpg) center no-repeat;
	background-size: cover;
	margin-bottom: 80px;
}
.play{
	display: block;
	width: 106px;
	height: 106px;
	border-radius: 50%;
	background:#fff ;
	margin: 0 auto 34px;
	position: relative;
}
.play::before{
	content: '';
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 12px 0 12px 19px;
	border-color: transparent transparent transparent #FF4532;
	position: absolute;
	top: 42px;
	left: 46px;

}
.feel .sec_tit{
color:  #FFF;
max-width: 596px;
text-align: center;
margin: 0 auto;
font-family: "Playfair Display";
font-size: 55px;
font-weight: 500;
line-height: 60px; 
}
.feel_item{
	position: relative;
	width: calc((100% - 174px) / 4);
}
.feel_ic{
width: 48px;
height: 48px;
position: absolute;
left: 0;
top: 0;
background: url(../img/icons/feel-1.svg);
background-repeat: no-repeat;
}
.feel_item:nth-child(2) .feel_ic{
	background-image:url(../img/icons/feel-2.svg);
	background-repeat: no-repeat;
  }
.feel_item:last-child .feel_ic{
	background-image:url(../img/icons/feel-3.svg);
	background-repeat: no-repeat;
  }
.feel_tit{
color: #2C2F24;
text-align: center;
font-family: "DM Sans";
font-size: 20px;
font-weight: 700;
line-height: 26px; 
padding-left: 72px;
margin-bottom: 12px;
}
.feel_txt{
	padding-left: 72px;
	width: 294px;
	margin: 16px 24px;
	
 } 

  /* section information */

  .inform_left{
	width: 610px;
	height: 645px;
  }
.inform_left .sect_tit{
color: #2C2F24;
font-family: "Playfair Display";
font-size: 55px;
font-weight: 500;
line-height: 60px; 
width: 547px; 
}
.inform_txt{
width: 556px;
margin-top: 20px;
margin-bottom: 36px;
color:#414536;
font-family: "DM Sans";
font-size: 16px;
font-weight: 400;
line-height: 24px;
}
.inform_wrap{
width: 293px;
height: 174px;
border-radius: 8px;
border: 1px solid  #DBDFD0;
background: #FFF;
padding: 30px 60px 40px;
margin-top: 24px;
}
.number{
color: #2C2F24;
text-align: center;
font-family: "Playfair Display";
font-size: 55px;
font-weight: 500;
line-height: 60px;
}
.number_txt{
width: 173px;
margin-top: 15px;
color:#414536;
text-align: center;
font-family: "DM Sans";
font-size: 18px;
font-weight: 500;
line-height: 28px; 
}

.inform_right{
width: 554px;
}
.inform_image {
border-radius: 12px;
} 
/* section pages */

.page_tit-1{
color: #2C2F24;
text-align: center;
font-family: "Playfair Display";
font-size: 100px;
font-weight: 400;
line-height: 96px; 
}
.page_desc{
color: #414536;
text-align: center;
font-family: "DM Sans";
font-size: 18px;
font-weight: 400;
line-height: 28px; 
margin-top: 24px;
width: 632px;
margin-left: 340px;

}
.page_card{
width: 306px;
height: 340px;
flex-shrink: 0;
overflow: hidden;
border-radius: 12px;
border: 1px solid  #F9F9F7;
background: #FFF;
margin-bottom: 32px;
margin-top: 72px;
box-shadow: 0px 2.979px 59.574px 0px rgba(0, 0, 0, 0.08);
}
.page_card img{
width: 306px;
border-radius: 12px 12px 0px 0px;
margin-bottom: 30px;
}
.page_date{
color: #737865;
font-family: "DM Sans";
font-size: 14px;
font-weight: 500;
line-height: 20px; 
margin-left: 25px;
}
.page_txt{
margin-top: 9px;
margin-left: 25px ;

width: 256px;
color:  #2C2F24;
font-family: "DM Sans";
font-size: 20px;
font-weight: 500;
line-height: 26px;
}
 /* section page_in */
.page_in{
	margin-top:-89px;
}
 .page_tit{
color:  #2C2F24;
text-align: center;
font-family: "Playfair Display";
font-size: 55px;
font-weight: 500;
line-height: 60px;
width: 1030px;
margin:88px 85px 62px;
 }
 .page_in-tit{
margin-top: 48px;
margin-bottom: 20px;
color:#2C2F24;
font-family: "DM Sans";
font-size: 24px;
font-weight: 700;
line-height: 30px;
letter-spacing: -0.72px;
 }
.page_in-img{
border-radius: 12px 12px 0px 0px;
width: 1161px;
height: 738px;
margin-bottom: 26px;
margin-top: 48px;
}
#page_test {
 counter-reset: num;
}
#page_test p{
	color:#414536;
	font-family: "DM Sans";
	font-size: 18px;
	font-weight: 700;
	line-height: 28px;
}
#page_test p::before {
counter-increment:num; 
content: "" counter(num) ".";
}
.page_in-txt{
width: 1086px;
color: #414536;
font-family: "DM Sans";
font-size: 18px;
font-weight: 400;
line-height: 28px; 
}
.page_tit2{
color:#2C2F24;
text-align: center;
font-family: "Playfair Display";
font-size: 55px;
font-weight: 500;
line-height: 60px;
}
/* our-menu */

.our-menu{
	margin-bottom: 20px;
}
.our-menu .sec_txt{
	max-width:557px;
	text-align: center;
	margin: 0 auto 50px;
}
.our-menu_btns {
	justify-content: center;
	margin-bottom: 80px;
}
.our-menu_btns .btn{
	margin: 0 7px;
}
.page_price{
color: #AD343E;
text-align: center;
font-family: "DM Sans";
font-size: 24px;
font-weight: 700;
line-height: 30px; 
letter-spacing: -0.72px;
margin: 30px 0 15px;
display: block;
}
.page_name{
color: #2C2F24;
text-align: center;
font-family: "DM Sans";
font-size: 20px;
font-weight: 700;
line-height: 26px;
margin-bottom: 15px;
}
.our-menu .page_txt{
color: #414536;
text-align: center;
font-family: "DM Sans";
font-size: 16px;
font-weight: 400;
line-height: 24px; 
width: 246px;
padding: 0 30px 30px;
} 
.our-menu .page_card{
width: 306px;
height: 445px;
box-shadow: none;
border-radius: 12px;
border: 2px solid  #DBDFD0;
}


.order_tit{
color: rgb(44, 47, 36);
font-family: Playfair Display;
font-size: 55px;
font-weight: 500;
line-height: 60px;
letter-spacing: 0px;
text-align: left;
margin-bottom: 20px;
}
.order_txt{
color: rgb(65, 69, 54);
font-family: DM Sans Arial;
font-size: 16px;
font-weight: 400;
line-height: 24px;
}
.order_left{
	width: 346px;
}
.order_right{
	width: 858px;
	justify-content: center;
}
.order_apps{
	display: block;
    background: #fff;
	width: 220px;
	height: 90px;
	border-radius: 12px;
	border: 1px solid  #f9f9f7;
	margin-bottom:40px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 12px 40px;
}
.order_apps img{
width: auto;
}
.order_apps:nth-child(4),
.order_apps:nth-child(5),
.order_apps:nth-child(6){
	width: 260px;
}

/* section book */

.book .page_tit{
margin-bottom: 24px;
margin-top: 0;
font-family: Playfair Display;
font-size: 100px;
font-weight: 400;
line-height: 96px;
text-align: center;
}
.book .page_desc{
max-width:545px;
margin: 0 auto 72px;
font-family: DM Sans;
font-size: 18px;
font-weight: 400;
line-height: 28px;
text-align: center;
}
.form_in{
	padding: 42px 49px;
	background: #fff;
	border-radius: 16px;
	max-width: 812px;
	margin: 0 auto;
	box-shadow: 0 3px 60px 0 rgba(0, 0, 0,0.08);
	position: relative;
	z-index: 10;
}
.form_input{
	width: calc(50% - 12px);
	margin-bottom: 24px;

}
.form_input_big{
width: 100%;
}
.form_tit{
display: block;
font-weight: 700;
margin-bottom: 8px;
font-family: DM Sans;
font-size: 16px;
line-height: 24px;
color: #2C2F24;
}
.input{
	display: block;
	border: 1px solid #DBDFD0;
	border-radius: 72px;
	padding: 24px;
}
.form_btn{
width: 100%;
}
.form_btn .btn{
width: 100%;
padding: 21px 24px;
text-align: center;
}
.map{
	height: 767px;
	background-color: red;
	margin-top: -245px;
}
.address{
	background: #fff;
	margin-top: -245px;
	padding-top: 350px;
	margin-bottom: 100px;
}
.address_in{
max-width: 776px;
margin: 0 auto;
}
.address_card{
	width: calc((100% - 180px) / 3);
}
.book{
	padding-bottom: 0;
	
}
.input_txt{
font-family: DM Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
color: #737865;
}
.input_messege{
width: 717px;
height: 156px;
padding: 24px;
border-radius: 16px;
border: 1px solid #DBDFD0;
}
.input_messege .input_txt{
	
}
.address_tit{
	font-family: DM Sans;
	font-size: 20px;
	font-weight: 700;
	line-height: 26px;
	color:#2C2F24;
	margin-bottom: 24px;
}
.address_txt{
	font-family: DM Sans;
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	color: #2C2F24;
}
.address_link{
font-family: DM Sans;
font-size: 24px;
font-weight: 700;
line-height: 30px;
letter-spacing: -0.03em;
text-align: left;
color: #AD343E;
}

